
<!--This is inserted into the {{{body}}}-->

<div class="container">
    {{#each article}}
        <div class="card">
            <h3 class="card-header">{{this.title}}</h3>
            <div class="row">
                <div class="col-lg-8 card-block">
                    <a href="https://www.nytimes.com{{this.link}}" target="_blank" class="card-link">Read More</a>
                </div>
                <div class="col-lg-4 align-self-end text-right">
                        <button class="btn btn-danger m-2 btn-remove" data-id="{{this._id}}">Remove</button>
                        <button class="btn btn-success m-2 btn-view-notes" data-id="{{this._id}}">View Notes</button>
                </div>
            </div>
        </div>

    {{/each}}

</div>

// use a modal to display???

